 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../assets/img/logo.png"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">За нас</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Услуги и цени</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Клиенти</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Галерия обекти</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Контакти</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Чист свят</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Имате нужда от почистване на вашия дом, къща или офис?<br/>Фирмата предлага на клиентите си професионално почистване на домове, офиси, обществени сгради и др. Стремежът ни е да издигнем стандарт в еднократното и абонаментното почистване. Качеството и професионализмът са основата на нашата дейност. За тази цел сме наложили система, включваща контрол на работата, която се следи и оценява от супервайзърите на фирмата.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Научете повече</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">За нас</h2>
        <hr class="divider my-4" />
        <div class="row">
                <div class="row justify-content-left">
                        <div class="sub-header">Kак работим?</div>
                        <p class="text-white-40 mb-4">Изключително качествено и с постоянната цел да задоволим клиента. Служим си с висококвалифицирани, европейски технологии, модерна професионална техника и екологично чисти почистващи препарати, защото за високите цели са необходими най-добрите средства.</p>
                        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
                </div>
                <div class="row justify-content-left">
                        <div class="sub-header">Кои сме?</div>
                        <p class="text-white-40 mb-4">„Чист Свят” ООД – водеща фирма, която знае истинското значение на думата професионализъм и е специализирана в почистване и поддръжка на хигиена. Ето защо умеем да вършим своята работа по начин, който винаги е в услуга на клиента, независимо малък или голям, както и да предлагаме най-добрия и качествен резултат, свързан с чистотата.</p>
                        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
                </div>
                <div class="row justify-content-left">
                        <div class="sub-header">Какво правим?</div>
                        <p class="text-white-40 mb-4">Стремим се да показваме най-доброто, на което сме способни и не ограничаваме палитрата от услуги, които предлагаме. Специализирани сме в абонаментното почистване и поддръжка на офиси, административни сгради, бизнес центрове, банки, хотели, басейни, производствени помещения, заводи, търговски центрове, молове, супер и хипермаркети.
                                Но не се спираме дотук, а предлагаме услугите си и еднократно, за да не ви лишим от удоволствието да работите с нас дори и само при единични случаи на нужда.</p>
                        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
                </div>
                <div class="row justify-content-left">
                        <div class="sub-header">Как да ни намерите?</div>
                        <p class="text-white-40 mb-4">Едно обаждане на телефон 052 655552 е достатъчно, за да получите цялата необходима информация за услугите и условията относно вашите конкретни нужди.</p>
                        <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
                </div>
        
        </div>
    </div>
</section>
<section class="page-section myDiv" id="about">
        <div class="image">

            </div>
        <div class="">
            <div class="row justify-content-center" >
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0" id="prices">Цени и услуги</h2>
                    <hr id="special-hr" class="divider  my-4" />
                    <table class="table table-hover">
                            <thead>
                              <tr style="background-color:#0a0a0a54;">
                                <th scope="col">Услуга</th>
                                <th scope="col">Цена на услугата</th>
                                <th scope="col">Цена при силно замърсена настилка</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-active">
                                <th scope="row">Машинно почистване на твърди подови настилки.</th>
                                <td>1.00лв на кв.м.</td>
                                <td>1.50лв на кв.м.</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Полиране на твърди подови настилки</th>
                                <td>0.90лв на кв.м.</td>
                                <td>-</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Премахване на запечатки от твърди подови настилки</th>
                                <td>1.90лв на кв.м.</td>
                                <td>-</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Измиване и запечатка на твърди подови настилки</th>
                                <td>4.40лв на кв.м.</td>
                                <td>-</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Диамантено шлайфане</th>
                                <td>9.00-11.00лв на кв.м.</td>
                                <td>12.00-14.00лв на кв.м.</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Машинно изпиране на меки подови настилки (мокети, килими)</th>
                                <td>0.90лв на кв.м.</td>
                                <td>1.40лв на кв.м</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Измиване на витрини с височина до 6м. (едностранно)</th>
                                <td>0.80лв на кв.м.</td>
                                <td>1.20лв на кв.м.</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Височинно измиване по алпийски метод на стъкла и дограма</th>
                                <td>1.90лв на кв.м.</td>
                                <td>2.80лв на кв.м.</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Почистване на бани и WC помещения</th>
                                <td>по договаряне</td>
                                <td>по договаряне</td>
                              </tr>
                              <tr class="table-active">
                                <th scope="row">Изпиране на мека мебел</th>
                                <td>10-30 лв на бр.</td>
                                <td>-</td>
                              </tr>
                              <tr class="table-active">
                                    <th scope="row">Измиване на външни площи (водоструйка)</th>
                                    <td>по договаряне</td>
                                    <td>по договаряне</td>
                                  </tr>
                            </tbody>
                          </table> 
                          <div>
                                <div>
                                        <h4 class="text-white mt-0" id="four-h4">Утежнени условия</h4>
                                        <hr id="special-hr" class="divider  my-4" />
                                  </div>
                                  <div>
                                      <p>
                                            <span style="color: #ff7e59">До 65% </span>завишаване на цената при изнасяне /преместване/ на обзавеждане;експресна поръчка;ръчен труд;извънреден труд
                                      </p>
                                      <p>
                                            <span style="color: #ff7e59">До 12% </span>завишаване при поръчка за събота и неделя и от 20:00 до 08:00 часа
                                      </p>
                                      <p>
                                           <span style="color: #ff7e59">До 45%</span> завишаване при поръчка за официални празнични дни До 90% завишаване при силна замърсеност, неблагоприятни условия на работа/климатични, височинни и др.
                                      </p>
                                      <p>
                                            При сключване на договор за абонаментно поддържане на чистотата и по-големи площи, стойността и вида на услугите се договаря с клиента допълнително
                                      </p>
                                      <p>
                                            В зависимост от обема на възложената работа- отстъпка от 10% до 15% Фирмата предлага абонаментно почистване и поддръжка на вашите хотели, офис сгради, офиси, магазини, апартаменти и др.
                                      </p>
                                      <p>
                                            <b>Фирмата предлага абонаментно почистване и поддръжка на вашите хотели, офис сгради, офиси, магазини, апартаменти и др.</b>
                                      </p>
                                      <p style="color: #ff7e59">
                                            <b>Цените са без ДДС.</b>
                                      </p>
                                  </div>
                          </div>
                        
                        
                </div>
            </div>
            
        </div>
    </section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
            </div>
        </div>
    </div>
</section>